<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Insert title here</title>
</head>

<body>

<span th:if='${@userController.logged}'>

	<span th:text='${@userController.loggedPlayer?.login}'/>'s favourite games:
	<ol>
		<li th:each='favourite : ${userFavourites}'><span th:text='${favourite.game}'/> </li>
	</ol>
	
</span>

<div><a href="/mines">mines <span th:text='${minesRating}'/></a></div>
<div><a href="/puzzle">puzzle <span th:text='${puzzleRating}'/></a></div>
<div><a href="/guess">guess <span th:text='${guessRating}'/></a></div>

<div th:replace="fragment::footer" />

</body>
</html>