<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Minesweeper</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/styles.css"/>
</head>
<body>


	<p th:utext='${controller.render()}' />	
	<p th:utext='${controller.message}' />

	
	<p>
		Average rating of this game: 
		<span th:utext='${#numbers.formatDecimal(avgRating,1,2)}' />
	</p>
	
		
		<a href='/mines'>New game</a>
	
	<br />
	
	Action set to:
	<a href='/mines_mark'>
		<span th:if='${controller.marking}'>Marking</span>
		<span th:if='${not controller.marking}'>Opening</span> 
		</a>
		
				
<p th:if='${@userController.logged}'>
			
		Your rating: <span th:text='${userRating}' />
	<br/>
	<a href="/updateRating_mines?value=1" value="1">1</a>
	<a href="/updateRating_mines?value=2" value="2">2</a>
	<a href="/updateRating_mines?value=3" value="3">3</a>
	<a href="/updateRating_mines?value=4" value="4">4</a>
	<a href="/updateRating_mines?value=5" value="5">5</a>

			<form  method="post" name="addComment" onsubmit="return validateCommentForm()" action="/addComment_mines">
				New Comment: <input type="text" name="newComment" /> <input
					type="submit" value="Add Comment" />
			</form>
			
			<h3>Is favourite</h3>
			
			<span th:if='${isFavourite}==true'> <a href='/setFavourite_mines'>remove from favourites</a> </span>
			<span th:if='${isFavourite}==false'> <a href='/setFavourite_mines'>add to favourites</a> </span>
 	</p> <!--<p th:if='${@userController.logged}'> -->
		
		<ol>		
		<li th:each='score : ${scores}'>
		<span th:text='${score.username}'/>
		<span th:text='${score.value}'/>
		</li>
		</ol>
		
		<h3>Comments:</h3>
		<ol>
		<li th:each='comment : ${comments}'><span
			th:text='${comment.createdOn}' /><span> </span> <span
			th:text='${comment.username}' /><span> </span><span th:text='${comment.content}' /></li>
		</ol>

		<div th:replace="fragment::footer"/>
</body>
</html>