img {
	width: 100%;
}

.col-3 {
	font-family: "Times New Roman", serif;
	color: darkblue;
	text-align: right;
}

.col-9 {
	font-family: Arial, Times, sans-serif;
}

table {
	border-style: solid;
	caption-side: bottom;
}

th {
	border: 3px solid black;
	background: Aquamarine;
	text-align: center;
}

td {
	background: Beige;
	border: 1px solid black;
	padding: 0.3em;
}