<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title th:text='${game}' />

<div th:replace="fragment::links" />

</head>
<body>

	<section id="section-d" class="grid">
		<div class="box">

			<p th:utext='${controller.render()}' />			
			<p th:utext='${controller.message}' />

			<div th:replace="fragment::level" />			

			<div th:replace="fragment::favourite" />
			
			<div th:replace="fragment::rating" />

		</div>

		<div class="box">			

			<div th:replace="fragment::score" />

			<div th:replace="fragment::comment" />

		</div>

	</section>


	<div th:replace="fragment::footer" />

</body>
</html>