<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<div th:replace="fragment::links" />


<title>Gamestudio</title>
</head>

<body>

</body>

<header id="showcase" class="grid">
	<div class="bg-image"></div>
	<div class="content-wrap">
		<h1>Welcome to gamestudio.</h1>
		<p>culpa si anim quis malis quorum eruditionem do graviterque sint
			praesentibus probant an fabulas duis malis quorum fore quo iudicem</p>
			<br/>
		<a href="#section-b" class="btn">Read more</a>
	</div>
</header>



<main id="main"> 

<span th:if='${@userController.logged}'>

<h2>Your favourite games:</h2>

<div th:replace='fragment::games_list(${favouriteGames})'/>

</span>


<h2>Games to play:</h2>

<div th:replace='fragment::games_list(${games})'/>


<div th:replace="fragment::footer" />

</main>

</html>