<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<div th:replace="fragment::links" />


<title>Gamestudio</title>
</head>

<body>

</body>

<header id="showcase" class="grid">
	<div class="bg-image"></div>
	<div class="content-wrap">
		<h1>Welcome to gamestudio.</h1>
		<p>The perfect place to have fun and relax. Want to get the best experience? Prepare some snacks first!</p>
			<br/>
		<a href="#games" class="btn">List of our games</a>
		<span th:if='${@userController.logged}'>
		<br/>
		<br/>
		<br/>
		<a href="#favouriteGames" class="btn">Your favourite games</a>
		</span>
	</div>
</header>

<main id="main"> 

<h2 id="games">Games to play:</h2>

<div th:replace='fragment::games_list(${games})'/>

<span th:if='${@userController.logged}'>

<section id="section-c" class="grid">
                <div class="content-wrap">
                    <h2 class="content-title" id="favouriteGames">Your favourite games:</h2>                    
                </div>
            </section>

<!-- <h2 id="favouriteGames">Your favourite games:</h2> -->

<div th:replace='fragment::games_list(${favouriteGames})'/>

</span>


<div th:replace="fragment::footer" />

</main>

</html>