<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Puzzle</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
<div th:replace="fragment::links" />
</head>



<body>
	<p th:utext='${controller.render()}' />
	<p th:utext='${controller.message}' />	
	
	<div th:replace="fragment::rating" />			
	

	<a href='/puzzle'>New game</a>	
	
	<div th:replace="fragment::score" />
	
	<div th:replace="fragment::comment" />
	
	<div th:replace="fragment::footer" />	
	
<!-- 	<script src="js/gamestudio2.js"></script> -->

</body>
</html>