<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Puzzle</title>
<meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
<div th:replace="fragment::links" />
</head>

<body>
	<p th:utext='${controller.render()}' />
	<p th:utext='${controller.message}' />

	<p>	
		Average rating of this game: 
		<span th:utext='${#numbers.formatDecimal(avgRating,1,2)}' />
	</p>

	<p th:if='${@userController.logged}'>
		Your rating: <span th:text='${userRating}' />
		</p>
<br/>

	
	<div th:replace="fragment::comment" />	


	<div th:replace="fragment::footer" />	
	
<!-- 	<script src="js/gamestudio2.js"></script> -->

</body>
</html>